* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #fff;
  color: #000;
  font-size: 15px;
  line-height: 1.5;
}
.navbar {
  background: #fafafa;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  display: grid;
  padding-top: 10px;
  padding-bottom: 50px;
}

.header {
  left: calc(50% - 1322px / 2);
  top: 0px;
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1100px;
  margin: auto;
  padding-bottom: 20px;
}
.header__logo {
  left: 0px;
  top: 13px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252b42;
}
.header__list {
  display: flex;
  gap: 20px;
  padding-left: 320px;
}

.header__item {
  list-style: none;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
}

.header__icon {
  color: #737373;
  width: 15px;
  height: 15px;
  left: calc(50% - 20px / 2);
  margin-top: 6px;
}

.mobile {
  display: none;
}
.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 860px;
  height: 428px;
  margin: auto;
  padding: 80px 0px;
}
.title {
  font-style: normal;
  text-align: center;
  letter-spacing: 0.2px;
  color: #252b42;
}
.title--big {
  width: 727px;
  height: 160px;
  font-size: 58px;
  font-weight: 800;
  line-height: 80px;
}

.description {
  font-style: normal;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
  font-weight: 500;
}
.description--large {
  width: 539px;
  height: 60px;
  font-size: 20px;
  line-height: 30px;
}

.header__btn {
  display: flex;
  gap: 10px;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 36px;
  gap: 10px;
  width: 185px;
  height: 48px;
  border-radius: 37px;
  font-weight: bold;
}
.btn--active {
  background: #ffa62b;
  color: white;
  border: none;
}

.btn--disactive {
  color: #00a0c1;
  border: 1px solid #00a0c1;
}

.banner {
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 30px;
}
.title--small {
  width: 353px;
  height: 57px;
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
}

.description--small {
  width: 470px;
  height: 40px;
  font-size: 14px;
  line-height: 20px;
}

.banner__cards {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  display: grid;
  gap: 30px;
}
.card {
  display: flex;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
  padding: 35px 40px;
  gap: 15px;
  width: 328px;
  height: 193px;
  background: #ffffff;
}

.card__hamburger {
  display: flex;
  gap: 10px;
  align-items: center;
}
.card__image {
  left: 0.71%;
  right: 0.71%;
  top: 0.19%;
  bottom: 0.19%;
}

.card__title {
  width: 143px;
  height: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252b42;
}

.card__description {
  width: 245px;
  height: 60px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}

.service {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 30px;
}

.service__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.title--smaller {
  font-size: 40px;
  line-height: 57px;
  width: 461px;
  height: 114px;
}

.service__banner {
  background-color: #042f38;
  padding-bottom: 5rem;
  display: flex;
  justify-content: center;
  margin-top: 130px;
}

.service__filter {
  position: relative;
  width: fit-content;
  height: fit-content;
  margin-top: -7rem;
}

.service__filter--center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.service__image {
  position: relative;
  width: 800px;
}

.group {
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 30px;
  order: 3;
  background: #f3f3f3;
  align-self: stretch;
}

.group__cards {
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  gap: 30px;
}
.card--big {
  height: 230px;
}
.card__profile {
  display: flex;
  gap: 10px;
}

.card__profile-names {
  list-style: none;
}

.name {
  width: 95px;
  height: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}
.name--yellow {
  color: #ffa62b;
}

.team {
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 30px;
}

.team__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.card-team {
  display: flex;
  flex-direction: column;
  gap: 6px;
  border: 1px solid #eeeeee;
  margin: 3rem 0;
  align-items: center;
  padding: 0px;
  width: 328px;
  height: 373px;
  background: #ffffff;
  padding-bottom: 1rem;
}

.card-team__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  align-items: center;
}

.card-team__title {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252b42;
}

.card-team__subtitle {
  text-align: center;
  color: #737373;
  font-size: small;
}

.social {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 10px;
  padding-top: 1rem;
}

.appointment {
  margin-top: 48px;
  background: url("./assets/images/cover-3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  padding-left: 80px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: auto;
}
.contents {
  padding: 24px;
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content__title {
  width: 90px;
  height: 24px;
  left: 0px;
  top: 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;

  text-align: center;
  letter-spacing: 0.1px;

  color: #252b42;
}

.content__description {
  width: 455px;
  height: 57px;
  left: 0px;
  top: 64px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;

  letter-spacing: 0.2px;
  color: #252b42;
}

@media (max-width: 1100px) {
  .appointment {
    position: relative;
  }
}

.input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}
.input__item {
  box-sizing: border-box;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  padding: 10px;
  background: #f9f9f9;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}

.input__area {
  box-sizing: border-box;
  width: 598px;
  height: 140px;
  background: #f9f9f9;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}

.input__btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 36px;
  gap: 10px;
  width: 185px;
  height: 48px;
  border-radius: 2px;

  background: #ffa62b;
  color: white;
  border: none;
}

.last__btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 36px;
  gap: 10px;
  width: 185px;
  height: 48px;
  border-radius: 2px;

  background: #ffa62b;
  color: white;
  border: none;
}

.last {
  padding-top: 30px;
  padding-left: 120px;
  padding-right: 120px;
  display: flex;
  justify-content: space-between;
}

.last__title {
  width: 454px;
  height: 32px;

  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;

  letter-spacing: 0.1px;

  color: #252b42;
}
.last__description {
  width: 273px;
  height: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}

.footer-container {
  background-color: #252b42;
  height: fit-content;
}

.footer {
  width: 70%;
  margin: 0 auto;
  margin-top: 30px;
}

.footer__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
  border-bottom: 1px solid #737373;
}

.footer__title {
  color: white;
}

.footer__icons-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.footer__menu {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 5rem 0;
}

.footer__card-title {
  color: white;
  font-size: 19px;
}

.footer__card-menu {
  color: #bdbdbd;
  list-style-type: none;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding-left: 0;
}

.footer__card-input {
  outline: none;
  padding: 0 10px;
  width: 10rem;
}

.footer__card-form {
  display: flex;
  gap: 0;
}

.footer__card-btn {
  border-top-left-radius: none !important;
  border-bottom-left-radius: none !important;
}

.footer__btn {
  background: #ffa62b;
  border: 1px solid #e6e6e6;
  border-radius: 0px 5px 5px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 36px;
  gap: 10px;
  width: 150px;
  height: 48px;
  color: white;
  font-weight: bold;
}

.last-footer-container {
  background-color: #16697a;
  display: flex;
  justify-items: flex-start;
  padding: 1rem 3rem;
  color: white;
  font-size: 12px;
}
.last-footer {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .navbar {
    height: auto;
  }
  .header {
    display: none;
  }

  .mobile {
    display: flex;
    flex-direction: column;
  }
  .mobile__logo {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252b42;
  }
  .mobile__container {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-between;
  }

  .mobile__list {
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    gap: 10px;
    list-style: none;
  }

  .mobile__item {
    width: 94px;
    height: 45px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
  }

  .description--large {
    width: 279px;
    height: 120px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
  }

  .header__content {
    width: 0px;

    gap: 20px;
  }
  .title--big {
    width: 292px;
    height: 228px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #252b42;
  }
  .header__btn {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .banner__cards {
    display: flex;
    flex-direction: column;
  }

  .group__cards {
    display: flex;
    flex-direction: column;
  }

  .team__cards {
    display: flex;
    flex-direction: column;
  }

  .contents {
    display: flex;
    justify-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 0px;
    margin-left: 0px;

    gap: 10px;
  }

  .input {
    display: flex;
    flex-direction: column;
  }
  .input__item {
    width: 300px;
  }
  .input__area {
    width: 300px;
  }
  .content__description {
    width: 273px;
    height: 114px;
    left: 0px;
    top: 64px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252b42;
  }
  .input__btn {
    width: 300px;
  }

  .last__btn {
    width: 300px;
  }

  .service__image {
    border-radius: 10px;
    position: relative;
    width: 80%;
  }

  .last {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .last__title {
    width: 239px;
    height: 64px;

    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;

    letter-spacing: 0.1px;

    color: #252b42;
  }

  .footer {
    width: unset;
    padding: 1rem;
  }

  .footer__header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    padding: 3rem 0;
    gap: 3rem;
    border-bottom: none;
  }

  .footer__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 0;
  }

  .footer__menu-item {
    color: white;
    font-weight: bold;
    font-size: 13px;
  }

  .footer__card-btn {
    border-radius: unset;
  }

  .last-footer {
    text-align: center;
  }
}

@media (min-width: 769px) and (max-width: 1100px) {
  .title--big {
    margin-bottom: 50px;
    font-size: 4rem;
  }

  .title--leftspace {
    padding-left: 0;
  }

  .banner__cards {
    grid-template-columns: 1fr 1fr;
  }

  .footer__menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .banner {
    max-width: 90%;
  }

  .group__cards {
    max-width: 90%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .team__cards {
    max-width: 90%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .card--span--full {
    grid-column: span 2;
    display: flex;
    padding-bottom: 0;
  }

  .service__image {
    width: 70%;
  }

  .footer__card--span-full {
    grid-column: span 2;
  }

  .footer__card-input {
    width: 100%;
  }
}
